<%- include("../include/header", { titulo: 'Health Road - Hospital' }) %>

    <body class="clinic_version">
        <div id="preloader">
            <img class="preloader" src="images/loaders/heart-loading2.gif" alt="">
        </div>
        <header>

        </header>

        <div id="getintouch" class="section wb wow fadeIn" style="padding-bottom:0;">
            <div class="container">
                <div class="img-profile">

                    <div class="cover-upload">
                        <div class="cover-edit">
                            
                        </div>
                        <div class="cover-preview">
                            <div id="previsualizacion-cover" style="background-image: url(images/logo-hospital.png);">
                                <div class="avatar-upload">
                                    <div class="avatar-edit" style="left: 200px;">
                                        
                                    <div class="avatar-preview">
                                        <div id="previsualizacion-profile"
                                            style="background-image: url(/<%-hospital.photo%>);">


                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>



                </div>
            </div>
            <div class="container profile-container">
                <div class="row">

                    <div class="col-md-9 nav-profile">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">

                                <form action="/Hospital/Services">
                                    <button class="nav-link <%-tabs.service%>" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home" type="submit" role="tab" aria-controls="home"
                                        aria-selected="true">Servicios</button>
                                </form>

                            </li>
                            <li class="nav-item" role="presentation">
                                <form action="/Hospital/Users">
                                    <button type="submit" class="nav-link  <%-tabs.users%>" id="profile-tab"
                                        data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab"
                                        aria-controls="profile" aria-selected="false">Usuario</button>
                                </form>
                            </li>
                            <li class="nav-item" role="presentation">
                                <form action="/Hospital/Rates">
                                    <button type="submit" class="nav-link  <%-tabs.rates%>" id="contact-tab"
                                        data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
                                        aria-controls="contact" aria-selected="false">Calificaciones</button>
                                </form>
                            </li>
                            <li class="nav-item" role="presentation">
                                <form action="/Hospital/Gallery">
                                    <button type="submit" class="nav-link  <%-tabs.gallery%>" id="gallery-tab"
                                        data-bs-toggle="tab" data-bs-target="#gallery" type="button" role="tab"
                                        aria-controls="gallery" aria-selected="false">Galeria</button>
                                </form>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade  <%-tabs.service%>" id="home" role="tabpanel"
                                aria-labelledby="home-tab">
                                <%if(locals.services){%>
                                    <div class="service-control-panel" style="display: flow-root;">
                                        <div class="service-filter">

                                        </div>
                                        <div class="service-actions">

                                            <form action="/Hospital/AddService">

                                                <button class="button button--shikoba button--text-medium button--round-l button--inverted" >
                                                    <i class="button__icon  fad fa-notes-medical"></i><span>Servicio</span> </i>
                                                </button>
                                                
                                            </form>
                                            <form class="was-validated" action="/service/discount/all-services" method="POST">
                                                <p>

                                                    <button class="form button button--shikoba button--text-medium button--round-l button--inverted " type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#collapseExample" aria-expanded="false"
                                                        aria-controls="collapseExample">
                                                        <i class="button__icon fad fa-percent"></i><span>Descuento</span> </i>
                                                    </button>
                                                </p>
                                                <div class="collapse" id="collapseExample">
                                                    <div class="card card-body">
                                                        <div class="col-md-12">
                                                            <div class="form-group in_email">
                                                                <label> <i class="fas fa-percent"></i> Descuento
                                                                </label>
                                                                <input type="text" hidden value="<%- hospital.name %>"
                                                                    name="hospital_name">
                                                                <input type="number" min="0" max="100"
                                                                    class="form-control" value="" name="percentage"
                                                                    placeholder="%" required="required">
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="form-group in_message">
                                                                <label> <i class="far fa-clock"></i> Fecha Inicio
                                                                </label>
                                                                <input type="date" name="date_initial" value=""
                                                                    required>
                                                            </div>
                                                            <div class="form-group in_message">
                                                                <label> <i class="far fa-clock"></i> Fecha Fin
                                                                </label>
                                                                <input type="date" name="date_end" value="" required>
                                                            </div>
                                                            <div class="actions">
                                                                <button type="submit" class="btn small submitButton" data-bs-toggle="modal" data-bs-target="#set_discount" />
                                                                <i class="far fa-save"></i>
                                                                Actualizar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <%- include("../include/confirmation_message",{id: 'set_discount' ,
                                                    message: '¿Esta seguro de aplicar este descuento? <br> ' ,
                                                    type: 'Hospital' }) %>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="list-group">

                                        <% for(var i=0; i<services.length; i++){%>
                                            <div
                                                class="list-group-item list-group-item-action flex-column align-items-start ">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <img width="100px"
                                                            src="https://static.vecteezy.com/system/resources/thumbnails/000/353/690/small/Health__28208_29.jpg"
                                                            alt="">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div>
                                                            <div class="d-flex w-100 justify-content-between">
                                                                <h5 class="mb-1">
                                                                    <%-services[i].name %>
                                                                </h5>

                                                                <small>Q. <%- services[i].price %></small>
                                                            </div>
                                                            <div class="d-flex w-100 justify-content-between">
                                                                <p class="mb-1">
                                                                    <%- services[i].description %>
                                                                </p>
                                                                <% if(services[i].status) {%>
                                                                    <span class="badge badge-pill badge-secondary"
                                                                        style="height: -moz-available; align-self: center;">
                                                                        Activo
                                                                    </span>
                                                                    <% }else{ %>
                                                                        <span class="badge badge-pill out-service"
                                                                            style="height: -moz-available; align-self: center;">
                                                                            Fuera de servicio
                                                                        </span>

                                                                        <%} %>
                                                            </div>
                                                            <span class="badge badge-pill badge-secondary">
                                                                <%-services[i].category_name%>
                                                            </span>

                                                            <br>
                                                            <small>
                                                                <% if(locals.rates){ %>
                                                                    <% for(var j=0; j<rates.length; j++) {%>
                                                                        <% if(rates[j].name==services[i].name){ %>
                                                                            <% var number=5 - rates[j].scores; %>
                                                                                <% for(var k=0;k<rates[j].scores;k++){%>
                                                                                    <i class="fad fa-star"></i>
                                                                                    <% } %>
                                                                                        <% for(var k=0; k<number;k++){%>
                                                                                            <i class="fal fa-star"></i>
                                                                                            <% } %>
                                                                                                <% } %>
                                                                                                    <% } %>
                                                                                                        <% } %>
                                                            </small>
                                                            <small class="modified-buttons">
                                                                <form action="/Hospital/UpdateService">
                                                                    <input type="text" hidden class="form-control"
                                                                        name="name" value="<%-services[i].name%>">
                                                                    <button type="submit" class="form">
                                                                        <i class="far fa-edit"></i>
                                                                    </button>
                                                                </form>


                                                                <button class="form" data-bs-toggle="modal"
                                                                    data-bs-target="#delete_service"
                                                                    onclick="send_service_name('<%-services[i].name%>')">
                                                                    <i class="far fa-trash-alt"></i>
                                                                </button>


                                                            </small>
                                                        </div>


                                                    </div>
                                                </div>


                                            </div>
                                            <hr>
                                            <% } %>
                                    </div>
                                    <% } %>

                            </div>
                            <div class="tab-pane fade  <%- tabs.users %>" id="profile" role="tabpanel"
                                aria-labelledby="profile-tab">
                                <%if(locals.ambulance_driver){ %>

                                <div class="d-flex align-items-start">
                                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                                        aria-orientation="vertical">
                                        <button class="nav-link active" id="v-pills-drivers-tab" data-bs-toggle="pill"
                                            data-bs-target="#v-pills-drivers" type="button" role="tab"
                                            aria-controls="v-pills-drivers" aria-selected="false">Conductores de
                                            Ambulancia</button>
                                    </div>
                                    <div class="tab-content " id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-drivers" role="tabpanel"
                                            aria-labelledby="v-pills-drivers-tab">
                                            <div class="service-actions col-md-12" style="display: -webkit-inline-box;">
                                                <form action="/Hospital/AddDriver">
                                                    <button  class="form button button--shikoba button--text-medium button--round-l button--inverted">
                                                        <i class="button__icon far fa-ambulance"></i> <span>Nuevo</span>
                                                    </button>
                                                </form>
                                            </div>
                                            <br>
                                            <hr>
                                           
                                            <div class="list-group" style="height: 900px; overflow: auto;">
                                                <div >
                                                    <div class="row">

                                                       
                                                            <% var count=Object.keys(ambulance_driver).length; %>
                                                                <%for(var i=0;i<count; i++) {%>
                                                                    <div
                                                                        class="list-group-item list-group-item-action flex-column align-items-start ">
                                                                        <div class="row">
                                                                            <div class="col-md-2">
                                                                                <img width="100px" height="100px"
                                                                                    src="/<%- ambulance_driver[i].profile_pic %>"
                                                                                    alt="">
                                                                            </div>
                                                                            <div class="col-md-10">
                                                                                <div>
                                                                                    <div
                                                                                        class="d-flex w-100 justify-content-between">
                                                                                        <h5 class="mb-1">
                                                                                            <%= ambulance_driver[i].name%>
                                                                                                <%= ambulance_driver[i].last_name%>
                                                                                        </h5>


                                                                                    </div>
                                                                                    <div
                                                                                        class="d-flex w-100 justify-content-between">
                                                                                        <p class="mb-1">
                                                                                            <%-
                                                                                                ambulance_driver[i].user%>
                                                                                        </p>

                                                                                    </div>
                                                                                    <span
                                                                                        class="badge badge-pill badge-secondary">
                                                                                        Conductor de ambulancia
                                                                                    </span>

                                                                                    <br>

                                                                                    <small class="modified-buttons">
                                                                                        <button class="form"
                                                                                            data-bs-toggle="modal"
                                                                                            onclick="send_driver_pass('<%- ambulance_driver[i].user %>')"
                                                                                            data-bs-target="#update_driver_pass">
                                                                                            <i class="fal fa-lock-open-alt"></i>
                                                                                        </button>

                                                                                        <form
                                                                                            action="/Hospital/UpdateUsers">
                                                                                            <input type="text" hidden
                                                                                                class="form-control"
                                                                                                name="user_name"
                                                                                                value="<%- ambulance_driver[i].user %>">
                                                                                            <button type="submit"
                                                                                                class="form">
                                                                                                <i
                                                                                                    class="far fa-edit"></i>
                                                                                            </button>
                                                                                        </form>


                                                                                        <button class="form"
                                                                                            data-bs-toggle="modal"
                                                                                            onclick="send_driver('<%- ambulance_driver[i].user %>')"
                                                                                            data-bs-target="#delete_driver">
                                                                                            <i
                                                                                                class="far fa-trash-alt"></i>
                                                                                        </button>


                                                                                    </small>
                                                                                </div>


                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                    <hr>

                                                                    <% }%>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                </div>
                                <% }%>
                            </div>
                            <div class="tab-pane fade  <%-tabs.rates%>" id="contact" role="tabpanel"
                                aria-labelledby="contact-tab">
                                <div class="service-actions">
                                    <form action="/Hospital/Get-Rates">
                                        <button  class="form button button--shikoba button--text-medium button--round-l button--inverted">
                                            <i class="button__icon fas fa-download"></i></i> <span>Descargar</span>
                                        </button>
                                       
                                    </form>
                                </div>
                                
                                <canvas id="bar-chart" width="800" height="450"></canvas>


                            </div>
                            <div class="tab-pane fade  <%-tabs.gallery%>" id="gallery" role="tabpanel"
                                aria-labelledby="gallery-tab">
                                <div class="service-control-panel">
                                    <div class="service-filter">
                                    </div>
                                    <div class="service-actions">
                                        

                                        <button class="form button button--shikoba button--text-medium button--round-l button--inverted" data-bs-toggle="modal" data-bs-target="#add_photo">
                                            <i class="button__icon fal fa-images"></i> <span>  Agregar Fotografia </span>
                                        </button>
                                    </div>
                                </div>
                                <% if(locals.gallery){ %>
                                    <div class="row" >
                                        <% var count=Object.keys(gallery).length;%>
                                            <% for(var i=0; i<count; i++) {%>
                                                <div class="col-md-12 gallery-photo " >
                                                    <div class="card shadow-sm">
                                                        <div class="card-body ">
                                                            <div class="col-md-12">
                                                                <img width="300px" height="200px" style="margin-left: 17%;"  src="/<%= gallery[i] %>" alt="">
                                                            </div>
                                                            <div
                                                                class="d-flex justify-content-between align-items-center">
                                                                <div class="btn-group">
                                                                    <button type="button" data-bs-toggle="modal"
                                                                        onclick="send_id_photo('<%- i %>','<%- gallery[i] %>')"
                                                                        data-bs-target="#delete-photo"
                                                                        class="btn btn-sm btn-outline-secondary">Borrar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <% } %>
                                    </div>
                                    <% } %>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 basic-information ">
                        <label> <i class="fas fa-hospital-symbol"></i> Informacion Basica</label>

                        <small style="display: ruby;">
                            <form action="/Hospital/Update">
                                <button type="submit" style="top: 20px;" class="form button button--sacnite button--round-s button--inverted">
                                    <i class="far fa-edit"></i>
                                </button>
                            </form>
                        </small>
                        <hr>
                        <div class="col-md-12">
                            <label> <i class="far fa-hospital"></i> Nombre: </label>
                            <label class="hospital-info">
                                <%- hospital.name %>
                            </label>
                        </div>
                        <div class="col-md-12">
                            <label> <i class="far fa-map-marker-alt"></i> Ubicacion: </label>
                            <label class="hospital-info">
                                <%- hospital.address %>
                            </label>
                        </div>
                        <div class="col-md-12">
                            <label><i class="fas fa-at"></i> Correo: </label>
                            <label class="hospital-info">
                                <%- hospital.email %>
                            </label>

                        </div>
                        <div class="col-md-12">
                            <label><i class="far fa-phone"></i> Telefono: </label>
                            <label class="hospital-info">
                                <%- hospital.celphone %>
                            </label>

                        </div>

                                                      
                        <form class="was-validated" action="/hospital/delete" method="POST">
                            <small>
                            <button class="form button button--sacnite button--round-s button--inverted" data-bs-toggle="modal" data-bs-target="#delete_hospital">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </small>
                            <input hidden type="text" value="<%- hospital.name %>" name="name">
                            <%- include("../include/confirmation_message",{id: 'delete_hospital',message: '¿Esta seguro de eliminar el hospital? <br> ' +hospital.name , type: 'hospital' }) %>
                        </form>
                        <form class="was-validated" action="/hospital/updatepass" method="POST">
                            <small >
                            <button class="form button button--sacnite button--round-s button--inverted" data-bs-toggle="modal" data-bs-target="#change-password">
                                <i class="fal fa-lock-open-alt"></i>
                            </button>
                            </small>
                            <input hidden type="text" value="<%- hospital.name %>" name="name">
                            <%- include("../include/change_password",{ id:'change-password', type: 'hospital' }) %>
                        </form>
                        <form action="/user/logout/">
                            <button class="form button button--shikoba button--text-medium button--round-l button--inverted">
                                <i class="button__icon fas fa-sign-out-alt"></i>
                                <span> Cerrar Sesion</span>
                            </button>
                        </form>
                        

                    </div>
                </div>
            </div>



        </div>
        <form class="was-validated" action="/hospital/add-photo" method="POST" enctype="multipart/form-data">
            <input hidden type="text" id="service_delete_name" name="name">
            <div class="modal fade" id="add_photo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Añadir Fotografia</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="img-profile">
                                    <div class="photo-upload" style="margin: auto;">
                                        <div class="photo-edit">
                                            <input type='file' class="form-control" name="photo" id="photo" accept=".png, .jpg, .jpeg ,.jfif"
                                                required />
    
                                        </div>
                                        <div class="photo-preview" style="padding: 0;">
                                            <div id="previsualizacion-photo" style="background-image: url(images/imagen.png); width: 100%; height: 100%;" >
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" onclick="reset_photo()"
                                data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Si</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form class="was-validated" action="/service/delete" method="POST">
            <input hidden type="text" id="service_delete_name" name="name">
            <%- include("../include/confirmation_message",{ id: 'delete_service',message: '¿Esta seguro de eliminar el servicio?' , type: 'servicio' }) %>
        </form>

        <form class="was-validated" action="/ambulance-driver/updatepass" method="POST">
            <input hidden type="text" id="update_pass_driver" name="user">          
            <%- include("../include/change_password",{ id:'update_driver_pass',type: 'hospital' }) %>
        </form>

        <form class="was-validated" action="/ambulance-driver/delete" method="POST">
            <input hidden type="text" id="delete_driver_name" name="user_name">
            <%- include("../include/confirmation_message",{ id: 'delete_driver' ,message: '¿Esta seguro de eliminar el usuario?' , type: 'usuario' }) %>
        </form>

        <form class="was-validated" action="/hospital/delete-photos" method="POST">
            <input hidden type="text" id="id_delete_photo" name="id_photo">
            <input hidden type="text" id="name_photo" name="name">
            <%- include("../include/confirmation_message",{ id: 'delete-photo' ,message: '¿Esta seguro de eliminar la foto?' , type: 'Hospital' }) %>
        </form>

        <script>
            function send_service_name(name) {
                var input_delete = document.getElementById('service_delete_name');
                input_delete.value = name;
            }
            function send_driver(name) {
                var input_delete = document.getElementById('delete_driver_name');
                input_delete.value = name;
            }
            function send_driver_pass(name) {
                var input_delete = document.getElementById('update_pass_driver');
                input_delete.value = name;
            }
            function send_id_photo(id, name) {
                var input_photo = document.getElementById('id_delete_photo');
                input_photo.value = id;
                var name_photo = document.getElementById('name_photo');
                name_photo.value = name;
            }
        </script>
        <%- include("../include/scripts") %>
            <% if (locals.rates && locals.names) { %>
                <script>
                    var test = <%-JSON.stringify(rates)%>;
                    var result_scores = [];
                    for (var i in test)
                        result_scores.push(test[i].scores);

                    var test2 = <%-JSON.stringify(names)%>;
                    var result_names = [];
                    var colors = [];
                    for (var i in test2){
                        result_names.push(test2[i].name);
                        colors.push(getRandomColor());
                    }
                      
                    
                    new Chart(document.getElementById("bar-chart"), {
                        type: 'bar',
                        data: {
                            labels: result_names,
                            datasets: [
                                {
                                    label: "Promedio",
                                   data: result_scores,
                                   backgroundColor: colors, 
                                }
                            ]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: 'Promedio de calificaciones'
                            }
                        }
                    });
                    function getRandomColor() {
                    var letters = '0123456789ABCDEF'.split('');
                    var color = '#';
                    for (var i = 0; i < 2; i++ ) {
                        color += letters[Math.floor(Math.random() * 16)];
                    }
                    color += 'CC';
                    for (var i = 0; i < 2; i++ ) {
                        color += letters[Math.floor(Math.random() * 16)];
                    }
                    return color;
                    }
                    


                </script>
                <% } %>

    </body>

    </html>