<%- include("../include/header", { titulo: 'Health Road - Actualizar Hospital' }) %>



   <body class="clinic_version">

      <div id="preloader">
         <img class="preloader" src="images/loaders/heart-loading2.gif" alt="">
      </div>
      <header>
         <div class="header-top wow fadeIn">
            <div class="container">
               <a class="navbar-brand" href="/Hospital">Health<img src="images/icon-logo.png" alt="image">Road - Regresar</a>

            </div>
         </div>
      </header>
      <div id="getintouch" class="section wb wow fadeIn" style="padding-bottom:0;">
         <div class="container">
            <div class="heading">
               <span class="icon-logo"><img src="images/icon-logo.png" alt="#"></span>
               <h2>Actualizar Hospital</h2>
            </div>
         </div>
         <div class="container forms">
            <div class="contact-section">
               <div class="form-contant">
                  <form id="ajax-contact" action="/hospital/update" method="POST" >
                     <div class="row" id="first-div">
                        

                        <div class="col-md-12">
                           <div class="form-group in_name">
                              <label> <i class="fas fa-hospital-symbol"></i> Nombre</label>
                              <input type="text" class="form-control" placeholder="Nombre" name="name"
                                 required="required" value="<%- hospital.name  %>">
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="form-group in_email">
                              <label> <i class="fas fa-envelope-open-text"></i> Email</label>
                              <input type="email" class="form-control" placeholder="Email" name="email"
                                 required="required"  value="<%- hospital.email  %>">
                           </div>
                        </div>

                        <div class="col-md-12">
                           <div class="form-group in_name">
                              <label> <i class="far fa-hospital-user"></i> Director</label>
                              <input type="text" class="form-control" placeholder="Nombre" name="director_name"
                                 required="required"  value="<%- hospital.director_name %>">
                           </div>
                        </div>

                        <div class="col-md-12">
                           <div class="form-group in_message">
                              <label> <i class="fal fa-comment-medical"></i> Descripcion </label>
                              <textarea class="form-control" id="message" rows="5" name="description"
                                 placeholder="Descripcion" required="required"> <%- hospital.description  %> </textarea>
                           </div>
                          
                        </div>


                        <div class="col-md-12">
                           <div class="actions">
                              
                                 <button type="submit" class="btn small submitButton"><i class="far fa-save"></i>
                                    Actualizar</button>
                            
                             

                           </div>
                        </div>
                     </div>

                  </form>
               </div>
            </div>
         </div>
      </div>

      <div class="copyright-area wow fadeIn" id="copyright-area">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <div class="footer-text">
                     <p>© 2021 HealthRoad. Derechos Reservados.</p>
                  </div>
               </div>

            </div>
         </div>
      </div>


      <script>



         function firstDiv() {
            document.getElementById('first-div').hidden = false;
            document.getElementById('second-div').hidden = true;
         }

         function secondDiv() {
            document.getElementById('first-div').hidden = true;
            document.getElementById('second-div').hidden = false;
            document.getElementById('third-div').hidden = true;
         }

         function thirdDiv() {
            document.getElementById('third-div').hidden = false;
            document.getElementById('second-div').hidden = true;
         }

      </script>

      <%- include("../include/scripts") %>


   </body>


   </html>